<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE
	mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd"
>
<mapper namespace="com.example.demo.repository.mapper.world.WorldDbMapper">
	<select
		id="selectPopulatedCity"
		parameterType="com.example.demo.repository.entity.world.ReqSelectPopulatedCityEntity"
		resultType="com.example.demo.repository.entity.world.ResSelectPopulatedCityEntity"
	>
		CREATE TEMPORARY TABLE user_country (
			name char(25),
			counrtyCode char(3)
		);
		<foreach
			item="item" index="index" collection="listUserCountry"
			open="" separator=" " close=""
		>
			INSERT INTO user_country VALUES ('${item.name}', '${item.countryCode}');
		</foreach>
		SELECT DISTINCT
			user_country.name AS name,
			country.Name AS countryName,
			city.Name AS cityName,
			city.Population AS cityPopulation
		FROM
			world.country AS country
		INNER JOIN
			user_country
		ON
			user_country.counrtyCode = country.code
		LEFT JOIN
			world.city AS city
		ON
			city.CountryCode = country.Code
		ORDER BY
			country.Name ASC,
			city.Population DESC;

		DROP TEMPORARY TABLE user_country;
	</select>
</mapper>
